<div class="container bg-light">
  <div class="row">
    <h1 style="margin-bottom: 30px">Usuwanie użytkownika</h1>
    <div class="form-group">
      <label>Wybierz użytkownika do usunięcia</label>
      <ng-select [items]="tab" [(ngModel)]="wybranaKategoria" class="ng-select"></ng-select>
      <!--<input type="text" class="form-control" [(ngModel)]="category" name="category" />-->
    </div>
    <ng-flash-message></ng-flash-message>
    <button class="pull-right btn btn-light" style="margin-left: 5px" [routerLink]="['../']">Anuluj</button>
    <button class="pull-right btn btn-danger" (click)="delUser()">Usuń</button>
  </div>
</div>
