<div class="container">
  <div class="row text-center">
    <button class="btn btn-default" [routerLink]="['new-movie']">Nowy film</button>
  </div>
  <div class="row text-center">
    <button class="btn btn-default" [routerLink]="['del-movie']">Usuń film</button>
  </div>
<div class="row text-center">
    <button class="btn btn-default text-center" [routerLink]="['del-user']">Usuń usera</button>
  </div>
  <div class="row text-center">
    <button class="btn btn-default text-center" [routerLink]="['del-movie']">Jeszcze none</button>
  </div>
</div>
